# In all paths
NP-VERSION-FILE
*.o

# /
/aclocal.m4
/autom4te*.cache
/Cache.pm
/ChangeLog
/command.cfg
/compile
/confdefs.h
/config.*
/configure
/debian
/depcomp
/INSTALL
/install-sh
/intl
/libtool
/Makefile
/Makefile.in
/missing
/monitoring-plugins.spec
/stamp-h1
/test.pl
/THANKS

# /build-aux/
/build-aux/*~
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/build-aux/mkinstalldirs

# /doc/
/doc/developer-guidelines.html
/doc/developer-guidelines.html.last
/doc/jade-out.fot

# /tap/
/tap/.deps
/tap/.libs
/tap/Makefile
/tap/Makefile.in
/tap/libtap.la
/tap/tap.lo

# /gl/
/gl/.deps
/gl/alloca.h
/gl/arg-nonnull.h
/gl/arpa
/gl/arpa_inet.h
/gl/c++defs.h
/gl/charset.alias
/gl/configmake.h
/gl/errno.h
/gl/fcntl.h
/gl/float.h
/gl/getopt.h
/gl/glthread/.deps
/gl/glthread/.dirstamp
/gl/langinfo.h
/gl/libgnu.a
/gl/locale.h
/gl/Makefile
/gl/Makefile.in
/gl/math.h
/gl/netdb.h
/gl/netinet_in.h
/gl/ref-add.sed
/gl/ref-del.sed
/gl/stdalign.h
/gl/stdbool.h
/gl/stddef.h
/gl/stdint.h
/gl/stdio.h
/gl/stdlib.h
/gl/string.h
/gl/sys_socket.h
/gl/sys_stat.h
/gl/sys
/gl/time.h
/gl/unistd.h
/gl/warn-on-use.h
/gl/wchar.h
/gl/wctype.h

# /lib/
/lib/.deps
/lib/getopt.h
/lib/libmonitoringplug.a
/lib/Makefile
/lib/Makefile.in

# /lib/tests/
/lib/tests/base64.Po
/lib/tests/.deps
/lib/tests/.libs
/lib/tests/Makefile
/lib/tests/Makefile.in
/lib/tests/test_base64
/lib/tests/test_cmd
/lib/tests/test_disk
/lib/tests/test_tcp
/lib/tests/test_utils
/lib/tests/utils_base.Po
/lib/tests/utils_cmd.Po
/lib/tests/utils_disk.Po
/lib/tests/utils_tcp.Po
/lib/tests/parse_ini.Po
/lib/tests/test_ini1
/lib/tests/test_ini3
/lib/tests/test_opts1
/lib/tests/test_opts2
/lib/tests/test_opts3
/lib/tests/extra_opts.Po

# /m4/
/m4/Makefile
/m4/Makefile.in
/m4/Makefile.am

# /perlmods/
/perlmods/Makefile
/perlmods/Makefile.in
/perlmods/*[0-9]

# /pkg/solaris/
/pkg/solaris/.cvsignore
/pkg/solaris/pkginfo

# /plugins/
/plugins/check_apt
/plugins/check_by_ssh
/plugins/check_by_ssh
/plugins/check_clamd
/plugins/check_cluster
/plugins/check_dbi
/plugins/check_dig
/plugins/check_disk
/plugins/check_dns
/plugins/check_dummy
/plugins/check_fping
/plugins/check_ftp
/plugins/check_game
/plugins/check_hpjd
/plugins/check_http
/plugins/check_ide_smart
/plugins/check_imap
/plugins/check_jabber
/plugins/check_ldap
/plugins/check_load
/plugins/check_mrtg
/plugins/check_mrtgtraf
/plugins/check_mysql
/plugins/check_mysql_query
/plugins/check_nagios
/plugins/check_netsaint
/plugins/check_nntp
/plugins/check_nntps
/plugins/check_nt
/plugins/check_ntp
/plugins/check_ntp_peer
/plugins/check_ntp_time
/plugins/check_nwstat
/plugins/check_overcr
/plugins/check_pgsql
/plugins/check_ping
/plugins/check_pop
/plugins/check_procs
/plugins/check_radius
/plugins/check_real
/plugins/check_reply
/plugins/check_simap
/plugins/check_smtp
/plugins/check_snmp
/plugins/check_spop
/plugins/check_ssh
/plugins/check_ssmtp
/plugins/check_swap
/plugins/check_tcp
/plugins/check_time
/plugins/check_udp
/plugins/check_ups
/plugins/check_users
/plugins/check_vsz
/plugins/config.h
/plugins/config.h.in
/plugins/.deps
/plugins/.libs
/plugins/Makefile
/plugins/Makefile.in
/plugins/libnpcommon.a
/plugins/negate
/plugins/stamp-h*
/plugins/urlize

# /plugins/t/
/plugins/t/*.tmp

# /plugins/tests/
/plugins/tests/Makefile
/plugins/tests/Makefile.in
/plugins/tests/test_utils
/plugins/tests/test_disk
/plugins/tests/.deps

# /plugins-root/
/plugins-root/.deps
/plugins-root/.libs
/plugins-root/Makefile.in
/plugins-root/Makefile
/plugins-root/check_dhcp
/plugins-root/check_icmp
/plugins-root/pst3

# /plugins-scripts/
/plugins-scripts/Makefile
/plugins-scripts/Makefile.in
/plugins-scripts/subst
/plugins-scripts/utils.pm
/plugins-scripts/utils.sh
/plugins-scripts/check_breeze
/plugins-scripts/check_disk_smb
/plugins-scripts/check_flexlm
/plugins-scripts/check_ifoperstatus
/plugins-scripts/check_ifstatus
/plugins-scripts/check_ircd
/plugins-scripts/check_log
/plugins-scripts/check_mailq
/plugins-scripts/check_ntp
/plugins-scripts/check_oracle
/plugins-scripts/check_rpc
/plugins-scripts/check_sensors
/plugins-scripts/check_wave
/plugins-scripts/check_file_age

# /po/
/po/Makefile
/po/Makefile.in
/po/remove-potcdate.sed
/po/Rules-quot
/po/boldquot.sed
/po/de.gmo
/po/en@boldquot.header
/po/en@quot.header
/po/fr.gmo
/po/insert-header.sin
/po/quot.sed
/po/POTFILES
/po/stamp-po
